body{
  background: #000;
  margin: 0px;
}
#entry{
  margin:80px auto;
  width:550px;
  color:#3498db;
}
#entry a, #back a{
  color:#3498db;
  transition:0.3s;
}
#entry a:hover, #back a:hover{
  color:#f1c40f;
}
#entry h1{
  font-size:200%;
  border-bottom:1px solid #3498db;
}
#entry h2{
  font-size:100%;
}
#entry textarea{
  border:none;
  background:#081329;
  width:540px;
  height:200px;
  color:#3498db;
  border-bottom:1px solid #3498db;
  padding:5px;
  font-size:80%;
}
#entry input{
  border:none;
  background:#081329;
  font-size:100%;
  color:#3498db;
  border-bottom:1px solid #3498db;
  padding:5px;
  font-size:80%;
}
#entry .right{
  text-align:right;
}
#back{
  position:absolute;
  bottom:20px;
  right:20px;
  display:none;
}

